.popup__input {
  padding: 0;
  padding-bottom: 9px;
  width: 100%;
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-top: 30px;
}

.popup__input:focus {
  outline: none;
}

.popup__input::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}
