.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  margin: 0 auto 47.25px;
}

@media screen and (max-width: 918px) {
  .profile {
    max-width: 100%;
    margin: 0 19px 47.25px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    margin-bottom: 36px;
    flex-direction: column;
  }
}
