.cards-grid__like-sum {
  margin: 3px 0 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  text-align: center;
  color: #000000;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100px;
}
