.profile__add {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: inherit;
  background-image: url(../../../image/cross.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}

.profile__add:focus {
  outline: none;
}

.profile__add:hover {
  opacity: .6;
  transition: opacity .3s linear;
}

@media screen and (max-width: 700px) {
  .profile__add {
    width: 282px;
    background-size: 16px;
    margin-top: 34px;
  }
}
