.popup__exit {
  padding: 0;
  position: absolute;
  right: -40px;
  top: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../../../image/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 58px;
  border: none;
  cursor: pointer;
}

.popup__exit:focus {
  outline: none;
}

.popup__exit:hover {
  opacity: .6;
  transition: opacity .3s linear;
}

@media screen and (max-width: 508px) {
  .popup__exit {
    right: 2px;
    width: 26px;
    height: 26px;
    background-size: 46px;
  }
}
